.button-icon {
  border-radius: 14px;
  padding: 10px;
  box-shadow: -4px 8px 24px 0px rgba(44, 63, 88, 0.02);
}

.button-normal {
  border-radius: 14px;
  padding: 8px 16px;
  box-shadow: -4px 8px 24px 0px rgba(44, 63, 88, 0.02);
}
