.card-normal {
  background-color: white;
  border-radius: 20px;
  box-shadow: -4px 8px 24px 0px rgba(44, 63, 88, 0.02);
  padding: 16px;
}

.card-highlight {
  background-color: #0a6ee1;
  border-radius: 20px;
  box-shadow: -4px 8px 24px 0px rgba(44, 63, 88, 0.02);
  padding: 24px;
}
